<?xml version="1.0"?>
<robot name="shelf">
  <link name="base_link">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.0002" ixy="0.0"  ixz="0.0"  iyy="0.0002"  iyz="0.0" izz="0.0002" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="assets/base.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.015"/>
      <geometry>
        <box size="0.2 0.375 0.018"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0 0 -0.1"/>
      <geometry>
        <box size="0.2 0.375 0.15"/>
      </geometry>
    </collision>
  </link>
</robot>


